.main .container-fluid {
  padding: 1 !important;
}

.form-group {
  /* /margin-bottom: 0 !important; */
}

.card-header-new {
  background-color: darkturquoise !important;
  color: black !important;
  font-weight: bolder !important;
}

.deleteIcon {
  cursor: pointer !important;
  color: red !important;
}

.editIcon {
  cursor: pointer;
  color: blue !important
}
